<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoukeiSwimmerGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SoukeiSwimmerGenerator.Properties.Settings>
            <setting name="defaultSourceParh" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultTargetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultPptxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultStartNum" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultEndNum" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultPhotoDir" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultCheckOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultCheckDNS" serializeAs="String">
                <value>True</value>
            </setting>
        </SoukeiSwimmerGenerator.Properties.Settings>
    </userSettings>
</configuration>